{% extends "base/base.html" %} 
{% block title %}
Find and share awesome dishes | Dish discovery in restaurants | Food discovery in restaurants
{% endblock %}
{% block style %}{{ parent() }} {% endblock %}
{# comment in twig #}
{% block postcontainer %}
<div class="main" id="search">
	<div class="inner">
		<div class="box alt">
			<div class="row uniform">{% include "search/people.html" with
				{'users': users} %} {% include "search/dish.html" with {'dishes':
				dishes} %} {% include "search/restaurant.html" with
				{'restaurants':restaurants} %}</div>
		</div>
	</div>
</div>
{% endblock %}
