{% extends "base/base.html" %} 
{% block title %}
Find and share awesome dishes | Dish discovery in restaurants | Food discovery in restaurants
{% endblock %}
{% block style %}{{ parent() }} {% endblock %}
{# comment in twig #}
{% block postcontainer %}
<div class="main" id="search">
	<div class="inner">
		<div class="box alt">
		
		<div class="row uniform">
									<div class="12u">
										<h2>Showing Result From
											<select  id="myselect" class="myselct" >
											{% for region in regionList  %}
											<option value="{{region.name}}">{{region.name | capitalize}}</option>											
											{% endfor %}	
											</select>
											<div class="mainul">
												<div id="linkforul" class="linkforul"></div>
												<ul id="selectUl" class="selectUl">
												</ul>
											</div>
										</h2>

									</div>
								</div>
		
		
			<div class="row uniform">
	<script>
				$(document).ready(function(){
					
				  $('#myselect').hide();
				  var ct = urlParam('city');
				  
				  $('#myselect option').each(function(){

				    if($(this).val() == ct){
				      $('#selectUl').append('<li class="myactiveli" id="'+this.value+'">'+ this.text +'</li>');
				      $('#linkforul').html(this.text);
				      $('#myselect').val(this.value);
				    }else{
				      $('#selectUl').append('<li id="'+this.value+'">'+this.text+'</li>');
				    }
				  });
				  
				  $('#selectUl').hide();

				  $('#linkforul, #selectUl').hover(
				    function() {
				      $('#selectUl').show();
				    }, function() {
				      $('#selectUl').hide();
				    }
				  );
				  
				  $('#selectUl li').click(function(){					    
					    $(this).addClass('myactiveli');
					    $('#linkforul').html(this.text);
					    $('#myselect').val(this.id);			    
					    $('#selectUl').hide();
					    
					    if(this.id != urlParam('city'))
						    changeCity(this.id);    					 					    					    
					    
					  })
					  });
			</script>
			
<script type="text/javascript">

function changeCity(city){
	var params = { search:urlParam('search'), city:city };
	var str = jQuery.param( params );
	window.location.href = '/search?' +str
//	console.log(str);
}

$( document ).ready(function() {
$('#myselect').val(urlParam('city'))
});

//alert(urlParam('search'));


</script>			
			
			{% include "search/people.html" with
				{'users': users} %} {% include "search/dish.html" with {'dishes':
				dishes} %} {% include "search/restaurant.html" with
				{'restaurants':restaurants} %}</div>
		</div>
	</div>
</div>
{% endblock %}
