<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<h5 class="result-heading">users</h5>
							</div>
							{% if users is empty %}	
							<p> No Such User</p>
							 {% else %}	
							
							{% for user in users %}
							
							<div class="col-md-12 resultitem">
								<a href="/{{ user.userName }}">
									<div class="media mt1em">
										<div class="media-left media-middle">
										    <img class="media-object" src="{{ user.thumb }}">
										</div>
										<div class="media-body">
										   <h4 class="media-heading">{{ user.userName }}</h4>
										   {{ user.fullName }}
										</div>
									</div>
								</a>
							</div>
							
							{% endfor %}
							{% endif %}
							
						</div>
					</div>