<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<h5 class="result-heading">places</h5>
							</div>
							
							{% if restaurants is empty %}	
							<p> No Such Restaurants</p>
							{% else %}
							{% for restaurant in restaurants %}
							<div class="col-md-12 resultitem">
								<a href="/{{restaurant.id}}">
									<div class="media mt1em">
										<div class="media-body">
										    <h4 class="media-heading">{{ restaurant.restaurantName }}</h4>
										    {{ restaurant.area }}, {{ restaurant.cityName }}  
										</div>
									</div>
								</a>
							</div>
							{% endfor %} 
							{% endif %}	
							
							
						</div>
					</div>