<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>Food discovery | Best dishes to eat | Best places to eat | Restaurant reviews india | Restaurant reviews | Dish reviews | Food reviews</title>
		<meta name="description" content="Food Talk is a search guide for best dishes and good food to eat. you can find, share and rate a dish one loves which enables Food Seekers to find whatever they are craving or see what’s good at the restaurant. It's visual.">
    	<meta name="keyword" content="Best dishes, Dish discovery, Food discovery, Dish discovery in restaurants, Food discovery in restaurants, Food dish, Dishes, Best dishes in restaurant, best dishes in Delhi NCR, Dish discovery App, Food discovery App, Best Places to eat, best Food to eat, Food Talk, best dishes to eat, best dishes india, Food, dish reviews, food reviews, restaurant reviews">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- raleway font -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
		<!-- font awasome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- custom css -->
		<link rel="stylesheet" href="/assets/css/style.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		

		<script src="/assets/js/bootcomplete.js"></script>
		
	</head>
	<body>
	{% block body %}{% endblock %}
		
	</body>
</html>
	