<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>Food Talk | Best dishes to eat | Best places to eat | Good Food to eat 
		| Best dishes | Restaurants reviews | Dish reviews | Food reviews </title>
		<meta name="description" content="Food Talk is a search guide for best dishes and good food to eat. you can find, share and rate a dish one loves which enables Food Seekers to find whatever they are craving or see what’s good at the restaurant. It's visual.">
    	<meta name="keyword" content="Best dishes, Dish discovery, Food discovery, Dish discovery in restaurants, Food discovery in restaurants, Food dish, Dishes, Best dishes in restaurant, best dishes in Delhi NCR, Dish discovery App, Food discovery App, Best Places to eat, best Food to eat, Food Talk, best dishes to eat, best dishes india, Food, dish reviews, food reviews, restaurant reviews">

		<link rel="stylesheet" href="/assets/css/reveal.css">
		<link rel="stylesheet" href="/assets/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/lib/css/zenburn.css">
		<link rel="stylesheet" href="/assets/css/custom.css">
		<link rel="stylesheet" href="/assets/css/animate.css">

		<script src="assets/js/jquery.min.js"></script>
		<script src="/assets/lib/js/head.min.js"></script>
		<script src="/assets/js/reveal.js"></script>
		
	</head>
	<body>
	{% block body %}{% endblock %}
		
	</body>
</html>
	