<!DOCTYPE html>
<html>
<head>
<meta name="robots" content="noindex,nofollow" />
<title>{% block title %} FoodTalk {% endblock %}</title>
{% block head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %} 
{% block style %}
	<link rel="stylesheet" href="/assets/css/main.css" />
{% endblock %} 
	<script src="/assets/js/jquery.min.js"></script>
{% block scripts %}

{% endblock %}
</head>
<body>
		<div class="mymodal" style="display: none;">
			<div class="main-body">				
				<a href="" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
				<h2>Download App</h2>
				<div class="button-container">
					<a href="https://itunes.apple.com/in/app/food-talk-plus/id923340748?mt=8">
						<img src="/images/download.png" alt="">
					</a>
				</div>
				<div class="button-container">
					<a href="">
						<img src="/images/android.png" alt="">
					</a>
				</div>
			</div>
		</div>

	<div id="wrapper" {{arrtibute | raw}} >

		{% block header %}
					<form action="/search" method="get">
		<header id="header">
			<div class="inner">
			
			{% if islogin(0) %}
			{% set user = islogin(1) %}

				<a href="/home" title="Home" class="logo">
								<span class="title">FOODTALK</span>
							</a>
							<!-- dropdown container -->
							
							<div class="dropdown">

							    <!-- trigger button -->
							    <button type="button" class="button spacial small more"><i class="fa fa-ellipsis-h fa-2x" aria-hidden="true"></i>
							    </button>

							    <!-- dropdown menu -->
							    <ul class="dropdown-menu">
   							        <li><a href="/home">Home</a></li>
							        <li><a href="/{{user.userName}}">Profile</a></li>
							        <li><a href="/logout">Logout</a></li>
							    </ul>
							</div>
							
			
			{% else %}
				<a href="/login" title="Home" class="logo">
								<span class="title">FOODTALK</span>
							</a>
							<a href="/login" class="button login special small">Login</a>
							<a class="button special small get-app">get the app</a>
			{% endif %}
				
				<div class="search">
						<input type="text" name="search" value="{{searchTxt}}" id="name" placeholder="search" minlength=2 required="required" />
<button type="submit" class="searchbutton"><i class="fa fa-search" aria-hidden="true"></i></button> 
{#	
<a href="" class="searchbutton"><i class="fa fa-search" aria-hidden="true"></i></a>
#}						
				</div>

			</div>
		</header>
		</form>	
		{% endblock %}
		{% block profile %}{% endblock %}
		{% block postcontainer %}{% endblock %}
		{% block footer %}
				<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; All rights reserved</li>
								<li class="float-right"><a target="_blank" href="/document.html">Legal</a></li>
								<li class="float-right"><a href="/">About</a></li>
								
							</ul>
						</div>
					</footer> 
			{% endblock %}

	</div>
<script type="text/javascript">
$(document).ready(function() {
	$('.mymodal').hide();
	$('.get-app').on('click', function(event) {
		event.preventDefault();
		$('.mymodal').fadeIn('slow', function() {
			
		});
	});
	$('.close').on('click', function(event) {
		event.preventDefault();
		$('.mymodal').hide();
	});
	var mouse_is_inside = false;
	$('.dropdown-menu').hide();
	$('.more').on('click', function(event) {
		event.preventDefault();
		$('.dropdown-menu').toggle();
	});
	 $('.dropdown-menu, .more').hover(function(){ 
	        mouse_is_inside=true; 
	    }, function(){ 
	        mouse_is_inside=false; 
	    });

    $("body").on('click', function(event) {
        if(! mouse_is_inside) $('.dropdown-menu').hide();
    });

	
});
</script>
<script type="text/javascript" src="http://arrow.scrolltotop.com/arrow27.js"></script>	
</body>
</html>