<!DOCTYPE html>
<html>
<head>
<title>{% block title %} FoodTalk {% endblock %}</title>
{% block head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %} 
{% block style %}
	<link rel="stylesheet" href="/assets/css/main.css" />
{% endblock %} 
	<script src="/assets/js/jquery.min.js"></script>
{% block scripts %}

{% endblock %}
</head>
<body>
	<div id="wrapper">
		{% block header %}
					<form action="/search" method="post">
		<header id="header">
			<div class="inner">
				{{ loginStatus() |raw}}
				<div class="search">
						<input type="text" name="search" value="{{searchTxt}}" id="name" placeholder="search" minlength=2 required="required" /> 
						<a href="" class="searchbutton"><i class="fa fa-search" aria-hidden="true"></i></a>
				</div>

			</div>
		</header>
		</form>	
		{% endblock %}
		{% block profile %}{% endblock %}
		{% block postcontainer %}{% endblock %}
		{% block footer %}
				<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; FoodTalk. All rights reserved</li>
							</ul>
						</div>
					</footer> 
			{% endblock %}

	</div>
</body>
</html>