{% for post in posts %}
			<article class="style1">
				<span class="image"> <a  href="/post/{{post.id}}"> <img src="{{post.postImage}}"
					alt="food discovery, dish reviews, dish reviews delhi, food reviews, food reviews delhi, restaurant reviews, restaurant reviews india, best dishes to eat, best food to eat, best dishes in restaurant, best places to eat in delhi, best places to eat in mumbai, best dishes in india, dish discovery, dish discovery in restaurants, food discovery in restaurants, food dish" />
					<div class="img-grd"></div>
					<p id="stars" class="star-{{ post.rating }}">
						<i class="fa fa-star fa-lg" aria-hidden="true"></i> <i
							class="fa fa-star fa-lg" aria-hidden="true"></i> <i
							class="fa fa-star fa-lg" aria-hidden="true"></i> <i
							class="fa fa-star fa-lg" aria-hidden="true"></i> <i
							class="fa fa-star fa-lg" aria-hidden="true"></i>
					</p>
				</a>
				</span> <a data-fancybox-type="iframe" class="iframe">
				</a>
				<div class="details">
					<h4 class="username" style="margin-top: 5px;">{{ postTitle(post, repository) | raw }}</h4>
					<h6>
						<span class="inhead_number" style="font-size: .9em;">{{post.likeCount}} <span
							style="font-weight: 700;">{% if post.likeCount==1 %}Like{% else %}Likes{% endif %}</span></span> | <span
							class="inhead_number" style="font-size: .9em;">{{post.commentCount}} <span
							style="font-weight: 700;">{% if post.commentCount==1 %}Comment{% else %}Comments{% endif %}</span></span>
							 {% if post.restaurantDistance is defined   %}
							 {% set distance = post.restaurantDistance/1000 %}
							 
							<span class="inhead_number right" style="font-size:.9em;">{{ distance | number_format (2)}} <span style="font-weight:700;">Km</span></span>
							{% endif %}
							
					</h6>
				</div>
			</article>
{% endfor %}