{% if isajax() %}
{% include "base/posts.html" with {'posts': posts} %}
{% else %}
<div class="main" id="content">
	<div class="inner">
{% if posts|length > 0 %}
		<section id="posts" class="tiles">
{% include "base/posts.html" with {'posts': posts} %}
		</section>
{% else %}
<div id="loading" class="center">No Dish to Display! :(</div>
{% endif %}		
		<div id="loading"  class="center" style="display: none;">
		Loading....
		</div>
		<div id="stoploading"  class="center" style="display: none;">
		No more dishes
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	var request;
	var win = $(window);
	
	var pp = 1
	
	var page = 2
	var hasmore = true;
	// Each time the user scrolls
	win.scroll(function() {
	if(hasmore){
		// End of the document reached?
		if ($(document).height() - win.height() == win.scrollTop()) {
			pp++;			
			if(pp > page){
				console.log('abort')
				return true
			}
				
			$('#loading').show();
			var path = window.location.pathname;
			
			$.ajax({
				url: path 
				+'/page/'+ page
				,
				dataType: 'html',
				success: function(html) {
					if( html.trim() == '' ){
						$('#stoploading').show();
						$('#loading').hide();
						hasmore = false;
					}
					else
						$('#posts').append(html);
						page++;
						pp = page-1
					$('#loading').hide();
				}
			});
		}
	}
	});
	
});
</script>
{% endif %}