{% for post in posts %}
			<article class="style1">
				<span class="image"> <a  href="/post/{{post.id}}"> <img src="{{post.postImage}}"
					alt="Food Talk" />
					<div class="img-grd"></div>
					<p id="stars" class="star-{{ post.rating }}">
						<i class="fa fa-star fa-lg" aria-hidden="true"></i> <i
							class="fa fa-star fa-lg" aria-hidden="true"></i> <i
							class="fa fa-star fa-lg" aria-hidden="true"></i> <i
							class="fa fa-star fa-lg" aria-hidden="true"></i> <i
							class="fa fa-star fa-lg" aria-hidden="true"></i>
					</p>
				</a>
				</span> <a data-fancybox-type="iframe" class="iframe">
				</a>
				<div class="details">
					<h4 class="username" style="margin-top: 5px;">{{ postTitle(post, repository) | raw }}</h4>
					<h6>
						<span class="inhead_number" style="font-size: .9em;">{{post.likeCount}} <span
							style="font-weight: 700;">Likes</span></span> | <span
							class="inhead_number" style="font-size: .9em;">{{post.commentCount}} <span
							style="font-weight: 700;">Comments</span></span>
					</h6>
				</div>
			</article>
{% endfor %}