<div class="main" id="rest-profile">
	<div class="inner">
		<header>
			
			<div class="restro_info_block">
				<h1 class="username">{{profile.restaurantName}}</h1>
				<h4 class="restro-address">{{profile.address}}</h4>
				
				
				{% if profile.phone1|trim|length > 6 %}
				<h3 class="restro-address"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{profile.phone1}}">{{profile.phone1}}</a>
				{% if profile.phone2|trim|length > 6 %} 
				, <a href="tel:{{profile.phone2}}">{{profile.phone2}}</a>
				{% endif %}
				</h3>
				{% endif %}
				
				{% if profile.priceRange|trim|length > 1 %}
				<h4 class="restro-address"><i class="fa fa-inr" aria-hidden="true"></i> 
					 {% if profile.priceRange < 501 %}
					Budget
					{% elseif profile.priceRange > 1001 %}
					Splurge
					{% else %}
					Mid range
					{% endif %}
				</h4>
				{% endif %}
			</div>
				
				
				<div class="username scores float-right">
					<h3 class="center">
						<strong><b><span class="inhead_number font-big">{{profile.checkInCount}}</span></b></strong><br><span class="inhead_text">CHECKINS</span>
					</h3>
					
				</div>
		</header>
	</div>
</div>
