<div class="main" id="rest-profile">
	<div class="inner">
		<header>
			
			<div class="restro_info_block">
				<h1 class="username">{{profile.restaurantName}}</h1>
				<h4 class="restro-address">{{profile.area}}, {{profile.address}}</h4>
				<h3 class="restro-address"><i class="fa fa-phone" aria-hidden="true"></i> 1234567890</h3>
				<h4 class="restro-address"><i class="fa fa-inr" aria-hidden="true"></i> Cost: budget</h4>
				
			</div>
				
				
				<div class="username scores float-right">
					<h3 class="center">
						<strong><b><span class="inhead_number font-big">{{profile.checkInCount}}</span></b></strong><br><span class="inhead_text">CHECKINS</span>
					</h3>
					
				</div>
		</header>
	</div>
</div>
