		<div class="col-md-8 col-md-offset-2">
			<div class="user-card-store">
				<div class="row">
					<div class="col-md-7">
						<div class="media mt10">
							<div class="media-left media-middle">
								<a href="#"> <img class="media-object"
									src="{{ profile.image }}" alt="{{ profile.userName }}">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">{{ profile.fullName | capitalize
									}}</h4>
								@{{ profile.userName }}
							</div>
						</div>
					</div>
<script type="text/javascript">
<!--
	$(document).ready(function(){
		$('.follow-button').click(function(event){
			event.preventDefault();
			checkLogin(event);
			$.ajax({
				method: "post",
				url: this.href,
				success: function(html) {
					$('#follow1').toggle();
					$('#following1').toggle();
					}
			});
		});
	});
//-->
</script>					
					<div class="col-md-5 share-follow">


						{% if islogin(0) %} {% set user = islogin(1) %} {% if
						user.userName != profile.userName %} <a {% if
							profile.iFollowedIt== 1 %}style="display: none;"
							{% endif %} href="/follow/{{profile.id}}"
							class="follow-button purchase-button ml20" id="follow1">Follow</a> <a {% if
							profile.iFollowedIt== 0 %}style="display: none;"
							{% endif %} href="/unfollow/{{profile.id}}"
							class="follow-button ml20" id="following1">Following</a>

						{% endif %} {% else %} <a href="/login" class="follow-button ml20">Follow</a>
						{% endif %} 
						
						<a target="_blank" 
						href="https://www.facebook.com/dialog/share?app_id=567830766693152&display=popup&href=http%3A%2F%2Ffoodtalk.in/{{ profile.userName }}" 
						class="purchase-button ml20">
						Share
						</a> 
						
						{% if islogin(0) %}{% if
						user.userName == profile.userName %}
						<span
							class="dropdown ml20 mt10px"
							style="display: inline-block; transform: translateY(25%);">
							<a id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <svg
									xmlns="http://www.w3.org/2000/svg" width="5" height="20"
									viewBox="0 0 5 20">
												  	<path fill="#8492A6" fill-rule="evenodd"
										d="M-2.5,10 C-2.5,11.3808333 -3.61916667,12.5 -5,12.5 C-6.38083333,12.5 -7.5,11.3808333 -7.5,10 C-7.5,8.61916667 -6.38083333,7.5 -5,7.5 C-3.61916667,7.5 -2.5,8.61916667 -2.5,10 L-2.5,10 Z M5,10 C5,11.3808333 3.88083333,12.5 2.5,12.5 C1.11916667,12.5 5.32907052e-15,11.3808333 5.32907052e-15,10 C5.32907052e-15,8.61916667 1.11916667,7.5 2.5,7.5 C3.88083333,7.5 5,8.61916667 5,10 L5,10 Z M12.5,10 C12.5,11.3808333 11.3808333,12.5 10,12.5 C8.61916667,12.5 7.5,11.3808333 7.5,10 C7.5,8.61916667 8.61916667,7.5 10,7.5 C11.3808333,7.5 12.5,8.61916667 12.5,10 L12.5,10 Z"
										transform="rotate(-90 2.5 10)"></path>
												</svg>
						</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
								<li><a href="logout">Logout</a></li>
								<!--  <li><a href="#">Another action</a></li>
											    <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
							</ul>
						</span>
						{% endif %}
						{% endif %}
						
					</div>
				</div>
				<div class="row mt10">
					<div class="col-md-4 counts">
						<strong>{{ profile.followingCount }}</strong> Following
					</div>
					<div class="col-md-4 counts">
						<strong>{{ profile.followersCount }}</strong> FOLLOWERS
					</div>
					<!-- <div class="col-md-4 counts">
									<strong>36</strong> Checkins
								</div> -->
					<div class="col-md-4 counts">
						<strong>{{ profile.totalPoints |round(0, 'floor')}}</strong>
						Points
					</div>
				</div>
			</div>
		</div>