<div class="main" id="profile">
	<div class="inner">
		<header>
			<div class="profile-buttons float-right">
{% if islogin(0) %}
{% set user = islogin(1) %}
			{% if user.userName != profile.userName %} 
			<a {% if profile.iFollowedIt == 1 %}style="display: none;"{% endif %} href="/follow/{{profile.id}}" class="followAction button small follow" id="follow"><i class="fa fa-user-plus" aria-hidden="true"></i>Follow</a> 					
			<a {% if profile.iFollowedIt == 0 %}style="display: none;"{% endif %} href="/unfollow/{{profile.id}}" class="followAction button small spacial following" id="following">Following</a>
<script type="text/javascript">
<!--
	$(document).ready(function(){
		$('.followAction').click(function(event){
			event.preventDefault();
			$.ajax({
				method: "post",
				url: this.href,
				success: function(html) {
					$('#follow').toggle();
					$('#following').toggle();
					}
			});
		});
	});
//-->
</script>
{% endif %}
{% else %}
			<a href="/login" class="followAction button small follow" id="follow"><i class="fa fa-user-plus" aria-hidden="true"></i>Follow</a>			
{% endif %}
					<a target="_blank" href="https://www.facebook.com/dialog/share?app_id=567830766693152&display=popup&href=http%3A%2F%2Fstg-web.foodtalk.in/{{ profile.userName }}" class="button spacial small share"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</a>
			</div>		
			<div class="profile_pic_block">
				<img src="{{ profile.image }}" alt="profile picture"
					class="profile_pic">
			</div>
			<div class="user_info_block">
				<h2 class="username">{{ profile.fullName }}</h2>
				<h3 class="username">{{ profile.userName }}</h3>
				<div class="username scores">
					<h3>
						<strong><b><span class="inhead_number">{{ profile.checkInImageCount }}</span></b></strong>&nbsp;<span
							class="inhead_text">CHECKINS</span> &nbsp;&nbsp;&nbsp; <strong><b><span
								class="inhead_number">{{ profile.followersCount }}</span></b></strong>&nbsp;<span class="inhead_text">FOLLOWERS</span>
						&nbsp;&nbsp;&nbsp; <strong><b><span
								class="inhead_number">{{ profile.followingCount }}</span></b></strong>&nbsp;<span class="inhead_text">FOLLOWING</span>
						&nbsp;&nbsp;&nbsp; <strong><b><span
								class="inhead_number">{{ profile.totalPoints }}</span></b></strong>&nbsp;<span class="inhead_text">POINTS</span>
					</h3>

				</div>
			</div>

			
		</header>
	</div>
</div>

{#
<a id="gm_facebook" href="javascript:void(0)" class="facebook_new" data-social="{&quot;type&quot;:&quot;facebook&quot;, &quot;url&quot;:&quot;http://www.indiatimes.com/news/world/this-british-chef-is-so-obsessed-with-jhal-muri-he-s-selling-it-all-over-london-255079.html&quot;, &quot;text&quot;: &quot;This British Chef Is So Obsessed With Jhal Muri, He’s Selling It All Over London&quot;, &quot;image&quot;:&quot;http://media.indiatimes.in/media/facebook/2016/May/brit8_1463230738_800x420.jpg&quot;,&quot;desc&quot;:&quot;British chef Angus Denoon has made the Jhal Muri, an Indian snack, famous on the streets of London.&quot;}" onmousedown="ga('send', 'event', 'FBclicks', 'TopArticle','http://www.indiatimes.com/news/world/this-british-chef-is-so-obsessed-with-jhal-muri-he-s-selling-it-all-over-london-255079.html');"><span class="sprite">facebook</span></a>
#}