

{% if storeItems|length > 0 %}
{% for item in storeItems %}
<div class="col-md-4 padding-left-right-30">
	<a href="/store/{{ item.type | lower }}/{{ item.storeItemId }}" class="card-link">
		<div class="card">
			<img src="{{ item.cardImage }}" alt="" class="card-img">
			<h3 class="product-name">{{ item.title }}</h3>
			<p class="product-desc">{{ item.shortDescription |raw }}</p>

			<div class="crd-btncon">
				<button class="card-button-full">{{ item.cardActionButtonText }}</button>
			</div>
			<span class="type-p offer">{{ item.type }}</span>
		</div>
	</a>
</div>
{% endfor %}
{% else %}
<div class="col-md-12 center gray-color" style="position: absolute; top: 50%; left:50%; transform: translate(-50%, -50%);">Nothing to show here :(</div>
{% endif %}	