					<div class="col-md-12 m-b-2em">
						<div class="col-md-4">
							<a href="/store"><h4>BACK TO STORE</h4></a>
						</div>
						<div class="col-md-4 center"><h4 class="gray-color">YOUR PURCHASES</h4></div>
					</div>
{% for purchase in storePurchase %}
{% if purchase.type == 'OFFER' %}
{% include "store/purchasedoffer.html" with {'purchase': purchase} %}
{% endif %}
{% endfor %}
<script type="text/javascript">
$(document).ready(function() {
	$(document).on('click','.cupon-code, .copycode', function(event) {
		event.preventDefault();
		
		if($(this).hasClass('cupon-code')){
			copyCode(this)
			$(this).siblings('.copycode').fadeIn('slow').html('Copied').css('color', 'green').delay(900).fadeOut('fast', function() {
				$(this).fadeIn().html('Click to Copy').css('color', '#1E63B3');
			});
		}else{
			
		 	var cuponElement = this.parentNode.querySelector('.cupon-code'); 
			copyCode(cuponElement)
			$(this).fadeIn('slow').html('Copied').css('color', 'green').delay(900).fadeOut('fast', function() {
				$(this).fadeIn().html('Click to Copy').css('color', '#1E63B3');
			});
		}
	});
});		

function copyCode(cuponElement){
	  var range = document.createRange();  
	  range.selectNode(cuponElement);  
	  window.getSelection().addRange(range);
	  
	  try {  
	    // Now that we've selected the anchor text, execute the copy command  
	    var successful = document.execCommand('copy');  
	    var msg = successful ? 'successful' : 'unsuccessful';
	    $(this).siblings('.copycode').html('Copy').css('color', '#1E63B3').show('fast');
	    //console.log('Copy email command ' + msg);  
	  } catch(err) {  
	    console.log('Oops, unable to ');
	    console.log(err);
	  }
	  // Remove the selections - NOTE: Should use
	  // removeRange(range) when it is supported  
	  window.getSelection().removeAllRanges();  
}
{#
//var copyEmailBtn = document.querySelector('.copycode');  
//copyEmailBtn.addEventListener('click', 	
	
$('.copycode11').on(
		'click',
		function(event) {  
  // Select the email link anchor text
  event.preventDefault()

  var cuponElement = this.parentNode.querySelector('.cupon-code'); 
  var range = document.createRange();  
  range.selectNode(cuponElement);  
  window.getSelection().addRange(range);
  
  try {  
    // Now that we've selected the anchor text, execute the copy command  
    var successful = document.execCommand('copy');  
    var msg = successful ? 'successful' : 'unsuccessful';
    $(this).siblings('.copycode').html('Copy').css('color', '#1E63B3').show('fast');
    console.log('Copy email command was ' + msg);  
  } catch(err) {  
    console.log('Oops, unable to copy');  
  }
  // Remove the selections - NOTE: Should use
  // removeRange(range) when it is supported  
  window.getSelection().removeAllRanges();  
});
#}
</script>