{% extends "base/base.html" %}
{% block title %}404{% endblock %}
{% block style %}{{ parent() }}
{% endblock %}
{% block profile %}
	<div id="main">
						<div class="inner">
							<header>
								<img src="/images/404.gif" alt="Food Talk" style="position:relative;left:50%;margin-left:-175px;">
								<h1 style="text-align: center;">NOTHING HERE, IT'S A 404</h1>
								<a href="/redirect" class="button special fit">TAKE ME BACK TO HOME</a>
							</header>
						</div>
					</div>
							
{% endblock %}
